################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/PNRPU_STUDY_PROJECTS_CS/bin/Debug/net6.0
